
.chat-area{
    height: 70vh;
    overflow-y: scroll;
    padding: 2rem;
}

.msg-text{
    color: white;
    font-weight: bold;
    padding: 1.5rem;
    width: fit-content;
    max-width: 70%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.263);
}

 
.msg-sent{
    background: rgba(0, 179, 87, 0.851);
    margin-left: auto;
    border-radius: 1.5rem 0 1.5rem 1.5rem;
}

.msg-rec{
    background: rgba(0, 139, 214, 0.832);
    border-radius: 0 1.5rem 1.5rem 1.5rem;

}
.scroll{
    overflow-y: auto;
    height: 84vh;
}
.user{
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    background-color: rgba(255, 6, 118, 0.589)  ;
    color: rgb(196, 255, 255);
}
.text-view{
    height: 1px;
    

}
.bg{
background :linear-gradient(to right, rgba(36, 36, 36, 0.473),rgba(36, 36, 36, 0.473)), url(https://st3.depositphotos.com/10953546/14866/v/600/depositphotos_148660113-stock-illustration-technology-social-media-network-link.jpg);
            
}
.hidden{
    display: none;
}