
.chat-area{
    height: 70vh;
    overflow-y: scroll;
    padding: 2rem;
}

.msg-text{
    color: white;
    font-weight: bold;
    padding: 1.5rem;
    width: fit-content;
    max-width: 70%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.263);
}

 
.msg-sent{
    background: rgba(0, 179, 87, 0.851);
    margin-left: auto;
    border-radius: 1.5rem 0 1.5rem 1.5rem;
}

.msg-rec{
    background: rgba(0, 139, 214, 0.832);
    border-radius: 0 1.5rem 1.5rem 1.5rem;

}
.scroll{
    overflow-y: auto;
    height: 84vh;
}
.user{
    padding: 8px;
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(239, 239, 239) !important ;
}
.text-view{
    height: 3px;
    padding: 3px;

}
.bg{
background: url();
}
